*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;

}

.headerbar{
    display: none;
}
.searchion{
    display: block;
}

.logo img{
    width: 150px;
    height: auto;
    
}

.bar{
    display: none;
}


.header{
    height: auto;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(253, 203, 156);
    border-bottom: 2px solid rgb(236, 200, 80);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header ul li:hover{
    color: rgb(211, 56, 9);
}
.nav ul li{
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}
.account{
    flex: 0.15;
}
.account ul{
    display: flex;
    align-items: center;
    justify-content: end;
}
.account ul li{
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
}
.search{
    display: none;
    align-items: center;
    width: 200px;
    justify-content: center;
}
.search input{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.searchion{
    display: block;
    padding: 4px 8px;
    cursor: pointer;
}
.home{
    padding: 0 7vw;
    background-color: rgba(250, 196, 146, 0.925);
}

.main_slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;

}

.main_slide div:nth-child(1){
    padding-top: 20px;
    flex: 1;
    font-size: 30px;
}

.main_slide div:nth-child(1) p{
    font-size: 14px;
    padding: 20px 0;
}

.main_slide div:nth-child(1) span{
    color: rgb(211, 56, 9);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(253, 176, 34);
}
.red_btn{
    background-color: rgb(211, 56, 9);
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid rgb(211, 56, 9);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    width: 150px;
    box-shadow: 0 10px 20px rgba(211, 56, 9,0.3);
    transition: all 0.3s;
}

.red_btn i{
    color: white;
    transition: all 0.3s;
}

.red_btn:hover{
    background-color: white;
    box-shadow: 0 10px 20px rgba(211, 56, 9,0.6);
    color: rgb(211, 56, 9);
    border: solid 1px rgb(211, 56, 9);

}

.red_btn:hover i{
    color: rgb(211, 56, 9);
}

.food-items{
    margin: 70px 0;
    padding: 40px 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.item{
    width: 250px;
    text-align: center;
    padding: 40px;
    
}
.item img{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}
.item div{
    height: auto;
}
.item p{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.white-btn{
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: rgb(211, 56, 9);
    line-height: 5px;
    border: 1px solid rgb(211, 56, 9);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(211, 56, 9,0.3);
    transition: all 0.3s;
}

.white-btn:hover{
    background-color: rgb(211, 56, 9);
    color: white;
    box-shadow: 0 10px 20px rgba(211, 56, 9,0.6);
}
.item .white-btn{
    width: 120px;
    line-height: 35px;
}

.main-slide2{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.foodimg{
    flex: 0.5;
}

.foodimg img{
    max-width: 500px;
    width: 45vw;
    height: auto;
}

.question{
    flex: 0.4;
    flex-direction: column;
    margin-left: 40px;
}

.question h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.q-ans{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.q-ans img{
    width: 45px;
}

.q-ans div:first-child{
    padding: 10px;
    border-radius: 50%;
    height: 65px;
    text-align: center;
    background-color: white;
    margin-right: 15px;

}

.q-ans div:nth-child(2){
    display: flex;
    flex-direction: column;
}

.q-ans div:nth-child(2) p{
    margin-top: 10px;
    font-size: 14px;
}

.main-slide3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    

}

.main-slide3 .fav-head{
    text-align: center;
    width: 450px;
    margin-bottom: 30px;
}

.main-slide3 .fav-head h3{
    font-size: 30px;
    padding: 20px 0;

}

.main-slide3 .fav-head p{
    font-size: 13px;
    text-align: center;
}

.main-slide3 .fav-food{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;

}

.main-slide3 .fav-food .item div{
    height: 160px;
    margin-bottom: 15px;
}

.main-slide3 .fav-food .item{
    background-color: white;
    border-radius: 5px ;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(211, 56, 9,0.3);
    width: 220px;
    padding: 15px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.main-slide3 .fav-food .item img{
    width: 160px;
    margin-bottom: 15px;

}

.main-slide3 .fav-price{
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.main-slide3 .dsgn{
    background-color: rgb(255, 214, 176);
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 10px;
}

.letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.letter-head{
    flex: 0.5;
}

.letter-head h2{
    font-size: 30px;
}
.letter-head span{
    color: red;
}

.letter-input{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex: 0.5;
}

.letter-input div{
    width: 70%;
    display: flex;
    align-items: center;
    background-color: coral;

}

.letter-input input{
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 100%;
    border: none;
    background-color: coral;
}

.letter-input .red_btn{
    margin: 0;
    font-size: 18px;
    box-shadow: none;
    border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 768px) {
    .header .nav, .header .account{
        display: none;
    }

    .search{
        width: 60vw;
    }
    .bar{
        display: block;
        cursor: pointer;
        margin: 20px;
    }
    
    .headerbar{
        overflow:hidden;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        width: 100%;
        right: -100%;
        transition: all 0.5s;
        bottom: 0;
        background-color: seashell;
    }

    .headerbar .account, .headerbar .nav{
        display: block;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .bar .fa-xmark{
        display: none;
        position: absolute;
        top: 20px;
        right: 5vw;
        font-size: 30px;
    }
    .headerbar .nav ul{
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .headerbar .nav li{
        width: 96vw;
        margin: 10px 0;
        padding: 15px 30px;
        font-size: 15px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        margin-top: 5px;
    }
    .headerbar .account{
        line-height: 40px;
        margin-top: 60px;
        background-color: sandybrown;
        padding: 15px;
    }
    .headerbar .account ul{
        justify-content: space-between;
    }

    .foodimg{
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .foodimg img{
        width: 70vw;
    }
    .question{
        flex: 1;
        margin-top: 30px;
    }

    .question h2{
        font-size: 25px;
    }

    .q-ans div:nth-child(2) p{
        font-size: 12px;
    }
    .main-slide3{
        margin-top: 100px;
    }
    .main-slide3 .dsgn{
        height: 60%;
    }
    .main-slide3 .fav-head{
        width: 80%;
        margin-bottom: 20px;
    }
    .letter-head h2{
        font-size: 20px;
    }
    .letter-input input{
        font-size: 12px;
        padding: 15px;
        width: 50vw;

    }
    .letter-input .red_btn{
        line-height: 40px;
        width: 120px;
        font-size: 12px;
         
    }


}

@media only screen and (max-width: 550px) {
    .main_slide div:nth-child(1){
        font-size: 18px;
    }

    .main_slide div:nth-child(1) p{
        font-size: 12px;
        padding-top: 5px;
        margin: 10px 0;
    }

    .red_btn{
        width: 120px;
        font-size: 14px;
        margin-top: 10px;
        line-height: 30px;
        padding: 0 10px;
    }
    .main_slide div:nth-child(1) span{
        text-underline-offset: 5px;
    }
    .main_slide div:nth-child(2) img{
        width: 70vw;

    }
    .main-slide3 .fav-head{
        width: 100%;
    }
    .main-slide3 .fav-head h3{
        font-size: 25px;
    }
    .main-slide3 .fav-head p{
        font-size: 11px;
    }

    .main-slide3 .dsgn{
        display: none;
    }
    .letter{
        justify-content: center;

    }
    .letter-head{
        flex: 1;
        text-align: center;
    }
}