* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}



.navbar {
    width: 200px;
    background-color: #2b2019;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;


}

.navbar h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #f79d20;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;

}

.navbar-links li {
    margin-bottom: 10px;

}

.navbar-links a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 16px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;

}

.navbar-links a:hover {
    background: #ee782f;
    cursor: pointer;
}

.navbar-links a.active {
    background-color: coral;
}

.navbar-links a i {
    font-size: 22px;
}

.main-content {
    margin-left: 220px;
    padding: 30px;
}

.main-content h1{
    font-size: 36px;
    margin-bottom: 10px;
}

.main-content p.sub-title{

    color: rgb(17, 41, 41);
    margin-bottom: 30px;
}


.dashboard-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.recent{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 25px;
    margin-top: 20px;
}

.card{
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
}

.card h4{
    color: #777;
    margin-bottom: 10px;

}

.card .value{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    border: none;
}

.card .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn{
    padding: 20px;
    color: #eee;
    background-color: #ed9e59;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
}

.main-content .menu-btn{
    position: fixed;
    right: 0;
    top: 10px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.order-items input,
.order-items select{
    border: none;
    background: transparent;
    font-size: 15px;
    padding: 0;
    outline: none;
}


